/*NavBar Styling*/

.navbar {
  background-color: #ffffff;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-color: #767575;
  height: 100px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 100px;
}

nav ul li a {
  text-decoration: none;
  color: #767575;
}

nav ul li a:hover {
  text-decoration: underline;
}

.logo {
  height: 40px;
}

/*Home Page Styling*/

.home-container {
  position: relative;
}

.studyImage {
  width: 100%;
  height: auto;
}

.Home-header {
  position: absolute;
  z-index: 1;
  top: 55%;
  left: 26%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.Home-header h1 {
  color: white;
  font-size: 5rem;
}

.Home-header p {
  color: white;
  font-size: 2rem;
  padding: 0;
}

.About-section {
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
}

/*note list Styling*/

.note-list h2 {
  margin-bottom: 21px;
  font-size: 1.6rem;
  color: #333;
}

.note-list {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 350px;
  margin-top: 120px;
}

/*Add New Note Styling*/

.add-note-container {
  margin-bottom: 21px;
  margin-top: 40px;
}

.add-note-container button {
  width: 30%;
  padding: 13px;
  background-color: #4ec479;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

ul li {
  margin-bottom: 10px;
}

ul li button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

ul li button:hover {
  background-color: #e0e0e0;
  border-color: #ccc;
}

/* Register User Styling */
.register {
  padding: 80px;
  margin-top: 40px;
  color: rgb(255, 255, 255);
  background-color: #4ec479;
  text-align: center;
}

.register input[type="text"],
.register input[type="password"],
.register input[type="email"] {
  display: block;
  width: 20%;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.register button[type="submit"] {
  display: block;
  width: 10%;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  color: #4ec479;
  border: 2px solid #4ec479;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.register button[type="submit"]:hover {
  background-color: #4ec479;
  color: #fff;
}

/*New Note*/

.new-note-form {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 350px;
  margin-top: 120px;
}

.timer-page h1 {
  margin-top: 0;
  color: black;
  font-size: 2rem;
}

/* StudyRoom Styling */

.StudyRoom-container {
  margin-top: 20px; /* Adjust as needed */
  padding: 20px;
}

.StudyRoom-header {
  text-align: center;
  margin-bottom: 0px; /* Adjust as needed */
}

.StudyRoom-header h1 {
  font-size: 2.5rem;
  color: #333; /* Adjust color as needed */
}

.Content-section {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666; /* Adjust color as needed */
}

/* Catalog styling*/

body,
html {
  margin: 0;
  padding: 0;
  /* Light grey background for contrast */
}

.catalog-container {
  margin-top: 10%;
  padding: 20px;
  background-color: #4ec479;
  min-height: 500px; /* Minimum height to ensure visibility */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds shadow for depth */
  border-radius: 20px;
  width: 50%;
  margin-left: 23%;
}

.catalog-title {
  margin-bottom: 20px;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  padding-bottom: 20px;
  color: #ffffff;
}

.catalog-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../components/CatalogImage.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.catalog-item {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: 23%;
  margin-bottom: 10px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
  color: #333;
}

.catalog-item:hover {
  background-color: #e9e9e9;
}

.catalog-loading,
.catalog-error,
.catalog-empty {
  text-align: center;
  margin-top: 20px;
  color: #333; /* For better visibility */
  font-size: 18px; /* Increase font size for readability */
}

@media screen and (max-width: 480px) {
  .catalog-container {
    margin-top: 30%;
    width: 100%;
    margin-left: 0%;
  }
}
