/* NavBar Styling */

.navbar {
  background-color: #ffffff;
  color: #767575; /* Changed text color to match navigation links */
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-color: #767575;
  height: 100px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Changed to flex to ensure consistent spacing */
  gap: 20px; /* Added gap between navigation items */
}

nav ul li {
  display: inline;
  margin-right: 40px; /* Adjust the margin as needed */
}

nav ul li a {
  text-decoration: none;
  color: inherit; /* Changed to inherit color from parent */
}

nav ul li a:hover {
  text-decoration: underline;
}

.logo {
  height: 40px;
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit; /* Changed to inherit color from parent */
  font-size: inherit;
  padding: 0;
}

.logout-button:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .navbar {
    margin-top: 0%;
    height: 200px;
    justify-content: center; /* Center the navbar horizontally */
  }
  .navbar ul {
    flex-direction: column;
    margin-left: 100%;
    margin-bottom: 50%;
    margin-top: 30%;
    align-items: flex-start;
    margin-right: 0%;
  }

  .navbar ul li {
    margin: 0px 0; /* Adjusted margin for vertical spacing */
  }
  .logo {
    height: 30px;
    margin-left: -50%;
    justify-content: left;
  }
}

/*Home Page Styling*/

.home-container {
  position: relative;
}

.studyImage {
  width: 100%;
  height: auto;
}

.Home-header {
  position: absolute;
  z-index: 1;
  top: 55%;
  left: 26%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.Home-header h1 {
  color: white;
  font-size: 5rem;
}

.Home-header p {
  color: white;
  font-size: 2rem;
  padding: 0;
}

.About-section {
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
}

ul li {
  margin-bottom: 10px;
}

ul li button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

ul li button:hover {
  background-color: #e0e0e0;
  border-color: #ccc;
}

@media screen and (max-width: 480px) {
  .home-container {
    margin-top: 50%;
  }
}

/* Register User Styling */
.register {
  padding: 80px;
  margin-top: 40px;
  color: rgb(255, 255, 255);
  background-color: #4ec479;
  font-size: 1.5rem;
  text-align: center;
}

.error-message {
  font-size: 1rem; /* Increase font size */
  color: rgb(255, 255, 255); /* Set color to red */
}

.register input[type="text"],
.register input[type="password"],
.register input[type="email"] {
  display: block;
  width: 20%;
  font-size: 0.9rem;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.register button[type="submit"],
.register button[type="button"] {
  display: inline-block; /* Change to inline-block to arrange horizontally */
  width: 150px; /* Set the width to 150px or adjust as needed */
  margin: 20px 10px; /* Add margin for spacing */
  padding: 12px; /* Increase padding for bigger buttons */
  background-color: #fff;
  color: #4ec479;
  border: 2px solid #4ec479;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none; /* Remove underline */
}

.register button[type="submit"]:hover,
.register button[type="button"]:hover {
  background-color: #389a5c;
  color: #fff;
}

.timer-page h1 {
  margin-top: 0;
  color: black;
  font-size: 2rem;
}

/* StudyRoom Styling */

.StudyRoom-container {
  margin-top: 150px; /* Adjust as needed */
  padding: 20px;
  background-color: #4ec479;
  border-radius: 15px;
  height: 510px;
  width: 70%;
  margin-left: 15%;
}

.StudyRoom-header {
  text-align: center;
  margin-bottom: 0px; /* Adjust as needed */
}

.StudyRoom-header h1 {
  font-size: 2.5rem;
  color: #ffffff; /* Adjust color as needed */
  font-family: "Montserrat", sans-serif;
}

.Content-section {
  font-size: 1.2rem;
  line-height: 2;
  color: #7e7878;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: #fff;
  height: 400px;
  border-radius: 15px;
}

@media screen and (max-width: 480px) {
  .StudyRoom-container {
    width: auto;
  }
  .StudyRoom-header h1 {
    font-size: 1.5rem;
  }
  .Content-section {
    font-size: 0.8rem;
  }
}

.studyRoom-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../components/StudyRoom.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.delete-room-button {
  display: inline-block; /* Change to inline-block to arrange horizontally */
  width: 150px; /* Set the width to 150px or adjust as needed */
  margin: 20px 10px; /* Add margin for spacing */
  padding: 12px; /* Increase padding for bigger buttons */
  color: #fff;
  margin-left: 46%;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  background-color: #e6372e;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none; /* Remove underline */
}

.delete-room-button:hover {
  background-color: #ca3028;
  color: #fff;
}

/* Catalog styling*/

.search-form {
  margin-bottom: 20px;
  margin-left: 37%;
}

.search-input {
  text-align: center;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.search-button {
  padding: 8px 20px;
  background-color: #4ec479;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #338551;
}

body,
html {
  margin: 0;
  padding: 0;
}

.catalog-container {
  margin-top: 10%;
  padding: 20px;
  background-color: #4ec479;
  min-height: 500px;
  max-height: 200px; /* Set a max-height for the container */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds max-height */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 50%;
  margin-left: 23%;
}

.catalog-title {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  padding-bottom: 20px;
  color: #ffffff;
}

.catalog-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../components/CatalogImage.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.catalog-item {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  width: 50%;
  font-weight: 500;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  margin-left: 23%;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
  color: #5f5e5e;
}

.catalog-item:hover {
  background-color: #e9e9e9;
}

.catalog-loading,
.catalog-error,
.catalog-empty {
  text-align: center;
  margin-top: 20px;
  color: #333; /* For better visibility */
  font-size: 18px; /* Increase font size for readability */
}

.create-room-button {
  display: inline-block; /* Change to inline-block to arrange horizontally */
  width: 150px; /* Set the width to 150px or adjust as needed */
  margin: 20px 10px; /* Add margin for spacing */
  padding: 12px; /* Increase padding for bigger buttons */
  background-color: #fff;
  margin-left: 40%;
  text-align: center;
  font-weight: 600;
  color: #4ec479;
  border: 2px solid #4ec479;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none; /* Remove underline */
}

.create-room-button:hover {
  background-color: #3e915d;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .catalog-container {
    margin-top: 30%;
    width: 100%;
    margin-left: 0%;
  }
}

/* Add Study Room Styling*/

/* Timer Styling*/

.timers-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh !important;
  background-image: url("../components/CatalogImage.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.timerHeader {
  margin-top: 19%;
  background-color: #4ec479;
  padding: 10px;
  border-radius: 5px;
  color: whitesmoke;
  border-width: 6px;
  border-color: #111111;
  text-align: center;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.timersDisplay {
  margin-left: 27%;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: #4ec479;
  color: rgb(255, 255, 255);
  max-width: 620px;
  border-radius: 6px;
  border-width: 7px;
  padding: 10px;
  font-size: 17px;
}
.timerSetup {
  margin-left: 25%;
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  border-radius: 12px;
  padding-bottom: 50px;
  margin-top: 120px;
  font-size: 18px;
  font-family: "Calibri", Arial, sans-serif;
  max-width: 700px;
  box-shadow: 5px 8px 7px rgba(97, 99, 134, 0.299);
}
.TimerDataContainer {
  display: grid;
  margin-left: 3%;
  color: #333;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  background-color: rgb(213, 216, 217);
  border-radius: 5px;
  font-weight: 200;
  max-width: 620px;
  grid-template-columns: 130px 300px;
  gap: 10px;
}
.add-timer-button {
  margin-top: 2%;
  margin-left: 3%;
  background-color: #4ec479;
  color: #f9f9f9;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.add-timer-button:hover {
  background-color: #338551;
}

.view-tasks-button {
  margin-left: 2%;
  background-color: #4ec479;
  color: #f9f9f9;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.view-tasks-button:hover {
  background-color: #338551;
}

.delete-timer-button {
  background-color: #e6372e;
  color: #f9f9f9;
  padding: 10px;
  border: none;
  width: 80px;
  border-radius: 5px;
  margin-right: 10px;
}

.delete-timer-button:hover {
  background-color: #ca3028;
}

/*New Note*/

.new-note-form {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 80%; /* Adjusted width for responsiveness */
  max-width: 700px; /* Added max-width to ensure it doesn't stretch too wide */
  margin: -0% auto; /* Center the form horizontally and adjust the top margin */
  margin-top: -20%;
  margin-right: 20%;
}

.new-note-form input,
.new-note-form textarea {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  color: #777575;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.new-note-form textarea {
  height: 200px;
}

.new-note-form button {
  background-color: #4ec479;
  color: #f9f9f9;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.new-note-form button:hover {
  background-color: #338551;
}

@media screen and (max-width: 1200px) {
  .new-note-form {
    width: 80%;
    align-items: center;
    margin-top: 15%;
    margin-left: -8px;
  }
}

/*Edit Note Form*/

.note-edit-form {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 80%; /* Adjusted width for responsiveness */
  max-width: 700px; /* Added max-width to ensure it doesn't stretch too wide */
  margin: -10% auto; /* Center the form horizontally and adjust the top margin */
  margin-top: -23%;
  margin-right: 20%;
}

.note-edit-form input,
.note-edit-form textarea {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  color: #777575;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.note-edit-form textarea {
  height: 200px;
}

.note-edit-form .save-button {
  background-color: #4ec479;
  color: #f9f9f9;
  padding: 10px;
  border: none;
  width: 80px;
  border-radius: 5px;
  margin-right: 10px;
}

.note-edit-form .save-button:hover {
  background-color: #40a264;
}

.note-edit-form .delete-button {
  background-color: #e6372e;
  color: #f9f9f9;
  padding: 10px;
  border: none;
  width: 80px;
  border-radius: 5px;
  margin-right: 10px;
}

.note-edit-form .delete-button:hover {
  background-color: #ca3028;
}

@media screen and (max-width: 1200px) {
  .note-edit-form {
    width: 80%;
    align-items: center;
    margin-top: 10%;
    margin-left: -8px;
    margin-bottom: 300px;
  }
}

.notes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1200px;
  background-image: url("../components/CatalogImage.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/*note list Styling*/

.note-list h2 {
  margin-bottom: 21px;
  font-size: 1.6rem;
  color: #333;
}

.note-list {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 350px;
  margin-top: 140px;
}

@media screen and (max-width: 1200px) {
  .note-list {
    width: 80%;
    align-items: center;
    margin-top: 300px;
    height: 100%;
  }
}

/*Add New Note Styling*/

.add-note-container {
  margin-bottom: 21px;
  margin-top: -2%;
}

.add-note-container button {
  width: 30%;
  padding: 13px;
  background-color: #4ec479;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/*Chat Feature*/

.chat-container {
  width: 1000px;
  margin: 20px auto;
  margin-top: 0%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  max-height: 270px; /* Set a maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  position: relative; /* Set position to relative for children positioning */
}

.messages-container {
  margin-bottom: 60px; /* Adjust margin to make space for input container */
}

.sent-message {
  background-color: #cff3d8;
  padding: 5px;
  border-radius: 5px;
  margin-left: 50%;
  margin-bottom: 5px;
}

.received-message {
  background-color: #e6e1e1;
  padding: 5px;
  border-radius: 5px;
  margin-right: 50%;
  margin-bottom: 5px;
}

.input-container {
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0; /* Stick input container to the bottom */
  background-color: #fff; /* Optional: Set a background color */
  padding: 10px; /* Optional: Add padding for better appearance */
}

.input-container input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.input-container button {
  padding: 8px 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #40a264;
}

@media screen and (max-width: 1200px) {
  .chat-container {
    width: 50%;
  }
}
