.navbar {
  background-color: #ffffff;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  margin-bottom: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 100px;
}

nav ul li a {
  text-decoration: none;
  color: #767575;
}

.logo {
  height: 40px;
}

.note-list h2 {
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 1.6rem;
  color: #333;
}

.add-note-container {
  margin-bottom: 21px;
}

ul li {
  margin-bottom: 10px;
}

.home-header h1 {
  font-size: 20rem;
  margin-top: 50px;
}
